<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Python Flask Web App</title>
        <link rel="stylesheet" href="static/project.css">
    </head>
    <body>
        <table>
            <tr>
                <td><img src="static/img/QR.png" alt=""></td>
                <td><h1 class="block">ЖИЗНЕННЫЙ ЦИКЛ ЛЕКАРСТВ<br>Обучение медицинских работников с контролем усвоения материала</h1></h1></td>
            </tr>    
        </table>
        <table class="menu">
            <tr>
                <td width="140px"><a href="{{ url_for('index') }}" style="color:rgb(31, 9, 140); text-decoration: none;">Главная</a></td>
                <td width="140px"><a href="{{ url_for('theory') }}" style="color:rgb(31, 9, 140); text-decoration: none;">Теория</a></td>
                <td width="140px"><a href="{{ url_for('rules') }}" style="color:rgb(31, 9, 140); text-decoration: none;">Правила</a></td>
                <td width="140px"><a href="{{ url_for('control') }}" style="color:rgb(31, 9, 140); text-decoration: none;">Контроль</a></td>
                <td width="140px"><a href="{{ url_for('about') }}" style="color:brown; text-decoration: none;">О нас</a></td>
        </table>
    <ul class="about">    
        <p>Данный проект был создан учеником 10 класса , для защиты индивидуального проекта.</p>
        <p>Главный разработчик - Передеряев Николай Олегович</p>
        <p>По всем вопросам и предложениям пишите на почту - k8818957@yandex.ru</p>
    </ul>
    </body>