<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Главная страница</title>
    <link rel="stylesheet" href="static/project.css">
</head>
<body>
    
    <table>
        <tr>
            <td><img src="{{ url_for('static', filename='img/QR.jpg') }}" alt=""></td>
            <td><h1 class="block">ЖИЗНЕННЫЙ ЦИКЛ ЛЕКАРСТВ<br>Обучение медицинских работников с контролем усвоения материала</h1></h1></td>
        </tr>    
    </table>
    <table class="menu">
        <tr>
            <td width="140px"><a href="{{ url_for('index') }}" style="color:brown; text-decoration: none;">Главная</a></td>
            <td width="140px"><a href="{{ url_for('theory') }}" style="color:rgb(31, 9, 140); text-decoration: none;">Теория</a></td>
            <td width="140px"><a href="{{ url_for('rules') }}" style="color:rgb(31, 9, 140); text-decoration: none;">Правила</a></td>
            <td width="140px"><a href="{{ url_for('control') }}" style="color:rgb(31, 9, 140); text-decoration: none;">Контроль</a></td>
            <td width="140px"><a href="{{ url_for('about') }}" style="color:rgb(31, 9, 140); text-decoration: none;">О нас</a></td>
        </tr>
    </table>

    <p><b>В</b>се мы ходим в аптеку и покупаем лекарства: таблетки, порошки, мази, растворы и многие другие формы лекарств. Но мало кто знает, как происходит создание лекарств, и какой путь необходимо пройти от научной разработки в руках ученого до получения регистрационного досье на готовый препарат.</p>
    <p>В истории создания лекарств можно проследить последовательную эволюцию: от известных с древних времен экстрактов естественного происхождения до малых молекул и биологических препаратов к самому современному на сегодня классу передовой терапии (advanced therapy), основанной на достижениях клеточных и генных технологий.</p>
    <p>За разработкой лекарства идет доклиническое и клиническое исследование препаратов, регистрация, производство и применение для лечения разнообразных заболеваний.</p>
    <p>Стремительное развитие фармацевтической науки и производства требует новых знаний, умений, которые на современном этапе начинают внедрять в профильных классах естественно-научной (медицинской) направленности.</p>
    <p>Разработка теоретических и практических учебных материалов по теме создания лекарств для учеников медицинских классов позволяет формировать у обучающихся мотивацию к выбору профессиональной деятельности в области здравоохранения и фармации, вовлечение их в систему непрерывного образования.</p>
    <p><b>Целью данной работы</b> является разработка учебного материала курса, посвященного процессу создания лекарств, с контролем полученных знаний в игровой форме для учеников специализированных медицинских классов.</p>
    <p>Задачами данной работы являются:</p>
    <ul>
        <li>обзор и анализ литературных источников по процессу создания лекарств;</li>
        <li>описание процесса создания лекарств в форме, доступной для учеников специализированных медицинских классов;</li>
        <li>разработка игры-тренинга с целью проведения контроля полученных знаний.</li>
    </ul>
    <p>Методика выполнения работы: поиск литературных источников, составление их обзора, самостоятельная подготовка теоретического и практического методического материала в форме игры-тренинга.</p>
    <p id="ЗАКЛЮЧЕНИЕ">ЗАКЛЮЧЕНИЕ</p>
    <p>На сегодняшний день путь от молекулы в лабораторной пробирке до лекарственного препарата с новым действующим веществом на полке в аптеке невероятно тернист и долог.</p>
    <p>Многие знают про случайное открытие и последующее выделение из плесневого гриба пеницилла первого антибиотика, что улучшило лечение инфекционных болезней и способствовало спасению миллионов человеческих жизней во всем мире.</p>
    <p>Прогресс в естественных науках увлек за собой и фармацевтическую индустрию, и науку, создав базу для рационального «конструирования» лекарств, что позволило синтезировать малые лекарственные молекулы, в промышленных масштабах получать продуцируемые живыми клетками биопрепараты, а также создавать лекарства самой прогрессивной на сегодняшний день передовой (advanced) терапии.</p>
    <p>Знакомство учеников специализированных медицинских классов с процессом создания лекарств- от разработки действующего вещества до аптеки-позволит не только показать стремительность научного прогресса в медицине и фармации, но поможет в выборе карьерного пути в будущем в области разработки лекарств(драг-дизайна), где гарантирована интересная работа на переднем крае науки.</p>
    <p>Согласно цели и задачам нашей работы для учеников специализированных медицинских классов был разработан в доступной форме учебный материал курса «Создание лекарств: от мишени до пачки в аптеке».</p>
    <p>Учебный материал включает в себя:</p>
    <ul>
        <li>Теоретическая часть учебного материала. Ученики знакомятся с ней в течение нескольких уроков под руководством учителя биологии. </li>
        <li>Практическая часть учебного материала. Это игра-тренинг, целью которой является закрепление изученного материала, отработка полученных знаний в игровой форме.</li>
    </ul>
    <p>Обучение учеников профильных классах естественно-научной (медицинской) направленности в доступной форме процессу создания лекарственных средств и закрепление полученного учебного материала в виде игры-тренинга позволит развить интерес к данному разделу медицинской науки и сформировать у обучающихся мотивацию к выбору профессиональной деятельности в области здравоохранения и фармации в будущем.</p>
    <p id="СПИСОК ИСПОЛЬЗОВАННЫХ ИСТОЧНИКОВ:">СПИСОК ИСПОЛЬЗОВАННЫХ ИСТОЧНИКОВ:</p>
    <ol>
        <li><a href="https://biomolecula.ru/articles/poisk-lekarstvennykh-mishenei">Власов П. Поиск лекарственных мишеней</a></li>
        <li><a href="https://academia.interfax.ru/ru/analytics/research/1642/">Долгий путь от молекулы до лекарства: как пройти его максимально эффективно</a></li>
        <li><a href="https://www.rmj.ru/blog/Polina_Litvinenko/etapy-issledovaniy-lekarstv-ot-razrabotki-do-registratsii-na-rynke/">Литвиненко П. Этапы исследований лекарств: от разработки до регистрации на рынке</a></li>
        <li><a href="https://biomolecula.ru/articles/put-lekarstva">Мажекенова С. Путь лекарства</a></li>
        <li><a href="https://biomolecula.ru/articles/tri-pokoleniia-lekarstv">Тарасов Ю. Три поколения лекарств</a></li>
        <li><a href="https://foodandhealth.ru/info/sekrety-proizvodstva-lekarstvennyh-sredstv/">Шишелова Я. В. Секреты производства лекарственных средств: приоткрываем закулисье</a></li>
    </ol>
</body>
</html>
