<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="static/project.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Правила контроля</title>
    </head>
    <body>
        <table>
            <tr>
                <td><img src="static/img/QR.png" alt=""></td>
                <td><h1 class="block">ЖИЗНЕННЫЙ ЦИКЛ ЛЕКАРСТВ<br>Обучение медицинских работников с контролем усвоения материала</h1></td>
            </tr>    
        </table>
        <table class="menu">
            <tr>
                <td width="140px"><a href="{{ url_for('index') }}" style="color:rgb(31, 9, 140); text-decoration: none;">Главная</a></td>
                <td width="140px"><a href="{{ url_for('theory') }}" style="color:rgb(31, 9, 140); text-decoration: none;">Теория</a></td>
                <td width="140px"><a href="{{ url_for('rules') }}" style="color:brown; text-decoration: none;">Правила</a></td>
                <td width="140px"><a href="{{ url_for('control') }}" style="color:rgb(31, 9, 140); text-decoration: none;">Контроль</a></td>
                <td width="140px"><a href="{{ url_for('about') }}" style="color:rgb(31, 9, 140); text-decoration: none;">О нас</a></td>
            </tr>
        </table>
        <ul class="nav">
            <li><a href="#Практическая часть методического материала">Практическая часть методического материала</a></li>
            <li><a href="#Цель игры-тренинга">Цель игры-тренинга</a></li>
            <li><a href="#Первый тур">Первый тур</a></li>
            <li><a href="#Второй тур">Второй тур</a></li>
            <li><a href="#Подведение итогов">Подведение итогов</a></li>
            <li><a href="#Практическая значимость игры">Практическая значимость игры</a></li>
        </ul>
            <h2 id="Практическая часть методического материала">Практическая часть методического материала</h2>
            <P>Разработана игра-тренинг для учеников специализированных медицинских классов с целью закрепления полученных теоретических знаний о процессе создания лекарства-от мишени до пачки в аптеке.</p>
            <h3 id="Цель игры-тренинга">Цель игры-тренинга</h3>
            <p>На основании полученных теоретических знаний о процессе создания лекарств ученик должен разместить свои карточки в правильном хронологическом порядке и остаться единственным игроком без карточек, став победителем игры.</p>
            <h3 id="Первый тур">Первый тур</h3>
            <p>Карточки первого тура (12 штук) выкладываются в центр стола стороной с названием процесса вниз.</p>
            <p>Учитель берет первую карточку с верха колоды, переворачивает её названием процесса вверх и кладет в центр стола – она станет первой точкой хронологической цепочки, в которую ученики будут добавлять свои карточки.</p>
            <p>Все игроки-ученики (их может быть от 3 до 6) по очереди выкладывают карточки первого тура (этапы создания лекарств) в правильном хронологическом порядке. </p>
            <p>Если ученик считает, что его событие произошло раньше одной из выложенных карточек, он кладёт её слева, если позже – справа, если в интервале между уже выложенными событиями – кладёт свою карточку между уже лежащими карточками и переворачивает названием процесса вверх.</p>
            <p>Если ученик положил карточку в правильном хронологическом порядке, то он получает 1 балл.</p>
            <p>Если ученик ошибся, то карточку возвращается в центр стола вниз колоды, и у ученика 0 баллов за этот ход.</p>
            <p>1 тур продолжается до тех пор, пока все карточки 1 тура не будут выложены в правильном хронологическом порядке. </p>
            <h3 id="Второй тур">Второй тур</h3>
            <p>Всем ученикам выдаются по две карточки второго тура (действия, выполняемые в каком-либо этапе создания лекарств). Всего 16 карточек во 2 туре.</p>
            <p>Второй тур начинает тот, кто получил максимальное количество баллов в 1 туре. </p>
            <p>Цель второго тура - остаться без карточек на руках. Все игроки выкладывают по одной карте по часовой стрелке. Если «действие-этап» выложено правильно, игрок-ученик оставляет карточку на игральном поле, если нет, он сбрасывает эту карточку обратно в колоду и берёт новую. Так ход переходит от одного игрока к другому. В соответствии с целью второго тура, кто первый избавится от всех карточек – становится победителем.</p>
            <h3 id="Подведение итогов">Подведение итогов</h3>
            <p>В конце игры-тренинга учитель и ученики оценивают свою работу с точки зрения правильности выполнения, обсуждают этапы создания лекарств, закрепляют изученный материал.</p>
            <h3 id="Практическая значимость игры">Практическая значимость игры</h3>
            <ul>
                <li>обучение учеников специализированных медицинских классов в доступной форме процессу создания лекарственного средства на разных этапах его разработки, производства и внедрения в жизнь,</li>
                <li>закрепление полученного учебного материала, </li>
                <li>развитие интереса к данному разделу медицинской науки, </li>
                <li>создание мотивации по выбору своей профессии в области медицины в будущем.</li>
            </ul>

    </body>