<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="static/project.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Теория</title>
</head>
<body>
    <table>
        <tr>
            <td><img src="static/img/QR.png" alt=""></td>
            <td><h1 class="block">ЖИЗНЕННЫЙ ЦИКЛ ЛЕКАРСТВ<br>Обучение медицинских работников с контролем усвоения материала</h1></td>
        </tr>    
    </table>
    <table class="menu">
        <tr>
            <td width="140px"><a href="{{ url_for('index') }}" style="color:rgb(31, 9, 140); text-decoration: none;">Главная</a></td>
            <td width="140px"><a href="{{ url_for('theory') }}" style="color:brown; text-decoration: none;">Теория</a></td>
            <td width="140px"><a href="{{ url_for('rules') }}" style="color:rgb(31, 9, 140); text-decoration: none;">Правила</a></td>
            <td width="140px"><a href="{{ url_for('control') }}" style="color:rgb(31, 9, 140); text-decoration: none;">Контроль</a></td>
            <td width="140px"><a href="{{ url_for('about') }}" style="color:rgb(31, 9, 140); text-decoration: none;">О нас</a></td>
        </tr>
    </table>
    <ul class="nav">
        <li><a href="#Поиск «мишени» для лекарства">Поиск «мишени» для лекарства</a></li>
        <li><a href="#Выбор вещества, которое будет действовать на мишень">Выбор вещества, которое будет действовать на мишень</a></li>
        <li><a href="#Доклинические исследования лекарств">Доклинические исследования лекарств</a></li>
        <li><a href="#Исследование на клетках">Исследование на клетках</a></li>
        <li><a href="#Улучшение веществ-кандидатов">Улучшение веществ-кандидатов</a></li>
        <li><a href="#Исследование на уровне целого организма">Исследование на уровне целого организма</a></li>
        <li><a href="#Клинические исследования лекарств">Клинические исследования лекарств</a></li>
        <li><a href="#Первая фаза клинического исследования">Первая фаза клинического исследования</a></li>
        <li><a href="#Вторая фаза клинического исследования">Вторая фаза клинического исследования</a></li>
        <li><a href="#Третья фаза клинического исследования">Третья фаза клинического исследования</a></li>
        <li><a href="#Четвертая фаза клинического исследования">Четвертая фаза клинического исследования</a></li>
        <li><a href="#Регистрация лекарств">Регистрация лекарств</a></li>
        <li><a href="#Производство лекарств">Производство лекарств</a></li>
        <li><a href="#Применение лекарств">Применение лекарств</a></li>
    </ul>
    
    
    <p class="blocktext">
    <P>Теоретическая часть методического материала подготовлена на основании обзора и анализа литературных источников по процессу создания лекарств.</p>
    <p>Для того, чтобы лекарство было допущено к применению как врачами, так и пациентами, ему необходимо пройти долгий путь, состоящий из поиска «мишени»; выбора вещества, которое будет действовать на мишень; доклинических и клинических исследований; регистрации и производства.</p>
    <h2 id="Поиск «мишени» для лекарства">Поиск «мишени» для лекарства</h2><img src="{{ url_for('static', filename='img/pm.png')}}" alt="" class="img" align="left" >
    <p>Мишень для лекарства – это как правило ключевая молекула, участвующая в определенном процессе, который связан с конкретным заболеванием или состоянием. Потенциальные мишени для лекарств не обязательно вызывают заболевание, но должны влиять на его развитие.</p>
    <p>Выбор мишени (цели, к которым направлено лекарство) при создании лекарства – это как выбор правильной цели для стрельбы из лука. Для этого необходимо:</p>
    <ul>
        <li>определить цель лекарства – какое заболевание или состояние необходимо лечить;</li>
    	<li>изучить, как устроена и работает цель в организме (какие процессы происходят в соответствующих клетках, органах и системах, и какие имеющиеся механизмы могут быть нарушены, какие запущены и т. д.);</li>
    	<li>изучить какие гены, белки, клетки связанны с целевым заболеванием и состоянием; какие из них наиболее подходят для направления действия лекарства;</li>
    	<li>выбрать подходящую молекулу в качестве мишени: это может быть конкретный белок или рецептор;</li>
    	<li>проверить доступность мишени для лекарства и ее безопасность (воздействие на нее не должно вызывать нежелательных реакций).</li>
    </ul>
    <p>Выбор мишени – это сложный процесс, который требует больших научных знаний и вложений для достижения успеха в создании лекарств.</p>
    <h3 id="Выбор вещества, которое будет действовать на мишень">Выбор вещества, которое будет действовать на мишень</h3>
    <p>Существует два основных подхода к выбору вещества, которое будет воздействовать на мишень. Первый основывается на создании аналогов веществ, которые уже воздействуют на мишень, а второй основывается на знании структуры мишени.</p>
    <p>В случае создания аналогов веществ, которые уже воздействуют на мишень, разработка лекарств основана на знаниях о других молекулах, которые известны и связываются с интересующей мишенью. Эти другие молекулы могут быть использованы для получения характеристик необходимой новой молекулы, чтобы связываться с мишенью</p>
    <p>В случае создания лекарства на основе структуры мишени, вещества-кандидаты, которые могут связываться необходимым образом с мишенью с высокой вероятностью, могут быть разработаны с использованием средств конструирования и интуиции ученого. В качестве альтернативы могут использоваться различные автоматизированные вычислительные процедуры для предложения новых кандидатов на лекарства, включая искусственный интеллект.</p>
    <p>Далее с помощью компьютерного моделирования оценивается способность веществ-кандидатов соединяться с мишенью в нужном месте и с необходимой силой. После чего начинается их доклинические исследование в биологических системах.</p>
    <h2 id="Доклинические исследования лекарств">Доклинические исследования лекарств</h2>
    <h3 id="Исследование на клетках">Исследование на клетках</h3>
    <p>После отбора наиболее эффективных веществ-кандидатов их действие тестируется на живых объектах, для начала – на клетках. Например, для разработки лекарств от рака проводят испытания на клетках опухолей различного типа. В этом случае оценивается уже непосредственно эффект воздействия соединения на клетку, например, его способность остановить или замедлить неконтролируемое деление раковых клеток. Как и на предыдущих этапах, по результатам экспериментов отбираются наиболее перспективные вещества-кандидаты.</p>
    <h3 id="Улучшение веществ-кандидатов">Улучшение веществ-кандидатов</h3>
    <p>Для наиболее перспективные веществ-кандидатов можно и нужно провести дополнительные химические модификации, чтобы улучшить их характеристики. На примере каждого перспективного вещества-кандидата создают целый пул молекул, похожих по структуре, но имеющих небольшие отличия, которые могут положительно влиять на такие параметры молекулы, как эффективность (сильное воздействие на мишень), безопасность (снижение токсичности) и фармакокинетику (время жизни вещества в организме). Полученный пул молекул снова тестируют на клеточных моделях. Этот процесс называется оптимизацией веществ-кандидатов (лидерных соединений).</p>
    <h3 id="Исследование на уровне целого организма">Исследование на уровне целого организма</h3><img src="{{ url_for('static', filename='img/ico.png')}}" alt="" class="img" align="right">
    <p>Следующий этап – это проверка действия веществ-кандидатов на уровне целого организма. Стандартным объектом экспериментов на данном этапе являются лабораторные животные, чаще всего – мыши или крысы. На животных воссоздается модель заболевания (например, стимулируется появление опухоли) и тестируются вещества-кандидаты.</p>
    <p>На этом этапе необходимо понять не только эффективность действия вещества на уровне организма (которая может значительно отличаться от таковой на уровне тестирования на клетках), но и изучить такие важнейшие параметры как фармакокинетику, токсичность (опасность для жизни и здоровья организма), оценить динамику распределения и накопления вещества в органах и тканях.</p>
    <p>Крайне важно учитывать, что на следующем этапе в исследованиях будут участвовать уже люди, поэтому необходимо исключить максимум рисков с точки зрения безопасности (для нивелирования или минимизации вреда для человека), так и эффективности (исследования на животных значительно дешевле, чем исследования на человеке. Так что, гораздо проще отсеять неэффективные препараты на данном этапе).</p>
    <p>Когда получены все данные по эффективности, безопасности и фармакокинетике и отобраны лучшие соединения, можно переходить к следующему, самому ответственному этапу – этапу клинических исследований.</p>
    <h2 id="Клинические исследования лекарств">Клинические исследования лекарств</h2>
    <p>Если проведение доклинических исследований – зона ответственности научных лабораторий институтов или фармацевтических компаний, то на этапе клинических исследований значительно возрастает роль государства. </p>
    <p>Прежде чем начать клиническое исследование, необходимо получить разрешение регулирующего органа, которое он выдает на основании анализа данных о лекарстве, представляемых фармацевтической компанией. </p>
    <p>Все клинические исследования состоят из трех фаз. </p>
    <h3 id="Певая фраза клинического исследования">Певая фраза клинического исследования</h3>
    <p>На первой фазе идет оценка безопасности препарата. Эти исследования часто проводят на здоровых добровольцах, за исключением случаев, когда препарат заведомо высоко токсичен (например, почти все противоопухолевые препараты). В этом случае лекарство при условии согласия могут уже принимать больные пациенты, которым не помогли другие методы лечения. Для них участие в исследованиях – серьезный шанс продлить жизнь и, возможно, заметно улучшить состояние здоровья. </p>
    <p>Кроме безопасности лекарства, на этом этапе также оценивается поведение (фармакокинетика) вещества в организме человека.</p>
    <h3 id="Вторая фаза клинического исследования">Вторая фаза клинического исследования</h3>
    <p>На второй фазе проводится оценка эффективности и выбор оптимальной дозировки лекарства. На этом этапе лекарства всегда исследуются на пациентах с определенным заболеванием. Помимо оценки эффективности, безусловно, оценивается и безопасность, так как лекарство может по-разному действовать на здорового и больного человека.</p>
    <h3 id="Третья фаза клинического исследования">Третья фаза клинического исследования</h3>
    <p>Во время третьей фазы проводится масштабное исследование лекарства с учетом полученных ранее результатов. Нужно подтвердить, что лекарство дает не кратковременный эффект, а достоверно улучшает важные для жизни параметры. Очень важным является вопрос всесторонней проверки безопасности лекарства, изучению нежелательных реакций.</p>
    <p>Третья фаза – самая длительная и дорогостоящая. Она может стоить десятки миллиардов рублей и охватывать несколько десятков тысяч пациентов в разных странах. По итогам третьей фазы препарат получает регистрацию и может быть использован для лечения людей на коммерческой основе (в том числе продаваться в аптеке).</p>
    <h3 id="Четвертая фаза клинического исследования">Четвертая фаза клинического исследования</h3>
    <p>Уже после регистрации лекарства возможно проведение четвертой фазы клинического исследования на предмет расширения возможности применения лекарства для лечения других заболеваний или получение дополнительных сведений о безопасности лекарства.</p>
    <h2 id="Регистрация лекарств">Регистрация лекарств</h2><img src="{{ url_for('static', filename='img/rgc.png')}}" alt="" class="img" align="left">
    <p>Регистрация лекарства – это процесс получения разрешения от государства на медицинское использование лекарства. Регистрация заключается в государственной экспертизе качества лекарства и экспертизе отношения ожидаемой пользы к возможному риску его применения.</p>
    <p>За регистрацию лекарств отвечает Минздрав России, который принимает решение о регистрации лекарства на основании результатов экспертиз, проведенных подведомственным учреждением – ФГБУ «НЦЭСМП» Минздрава России.</p>
    <p>ФГБУ «НЦЭСМП» проводит экспертизу методов контроля качества лекарства и качества представленных образцов лекарства, а также экспертизу отношения ожидаемой пользы к возможному риску применения лекарства.</p>
    <p>Департаментом государственного регулирования создан государственный <a href="http://grls.rosminzdrav.ru">портал</a> для отслеживания прохождения необходимой процедуры в личном кабинете, так как документы для регистрации лекарственного препарата подают в бумажном и электронном виде. На портале размещен Государственный реестр лекарственных средств и Государственный реестр предельных отпускных цен. Оба реестра обновляются в онлайн-режиме Минздравом России и содержат информацию о зарегистрированных лекарства, так как являются официальными государственными реестрами.</p>
    <p>Регистрируя лекарственный препарат, государство берет на себя ответственность за проверку его эффективности и безопасности.</p>
    <h2 id="Производство лекарств">Производство лекарств</h2>
    <p>История производства лекарств насчитывает несколько тысячелетий. Первые упоминания о них историки и археологи датируют 1550 годом до нашей эры. Современные препараты невозможно сравнить с ними, ведь они не только более эффективны, но и изготовляются в особых условиях. Производство лекарств – это не секретная отрасль, но обо всех нюансах процессов изготовления таблеток, сиропов, растворов в ампулах обычному человеку известно мало. </p>
    <p>У каждой компании свои особенности производства. Каждый производитель самостоятельно выбирает тип оборудования, организовывает процесс изготовления, но на выходе конечные потребители: врачи и пациенты - должны получить качественный лекарственный препарат. </p>
    <p>Весь процесс производства происходит согласно технологическим этапам, установленным регуляторными документами. После выпуска, например таблеток от кашля, все оборудование тщательно очищается, проверяется, нет ли остатка действующих и вспомогательных веществ. Только после этого можно приступать к производству таблеток с другим лечебным действием (например, жаропонижающих таблеток).</p>
    <p>На многих заводах внедрена высокая автоматизация процессов, поэтому для изготовления оператору достаточно нажать несколько кнопок – и на выходе он получит лекарственное средство без ошибок и отклонений от заявленного состава: используя специальное приложение, оператор только проверяет: достаточно ли сырья; все ли компоненты учтены; соответствует ли микроклимат помещения требуемым критериям для изготовления препаратов. После этого процесс запускается, и автоматическая система самостоятельно выполняет все его этапы. Главное преимущество такой автоматизации – отсутствие контакта сырья и готового лекарства с человеком.</p>
    <h2 id="Применение лекарств">Применение лекарств</h2>
    <p>После завершения всех указанных процедур лекарство может быть допущено к применению как врачами, так и пациентами.</p>
    </p>
    
</body>
</html>